body {
  background-color: cornsilk;
}

.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#home-flex {
  display: flex;
  max-height: 90%
}

#homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
  text-align: center;
  background-color: darkgray;
  color: wheat;
  animation: blinker 1.05s linear infinite
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

#projects-flex {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#issa {
  max-width: 80%
}

#the-beek {
  max-width: 40%
}

img {
  max-width: 90%
}